/* Write your CSS code here */
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.list-item {
  list-style-type: none;
}
.list-about {
  color: blueviolet;
  text-decoration: underline;
  font-size: 20px;
  font-family: 'Roboto';
}
